## A. Build a baseline model

importing pandas, Numpy and Keras libraries.

In [15]:
import pandas as pd
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense

download the data and read it into a <em>pandas</em> dataframe.

In [16]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [20]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [17]:
concrete_data_columns = concrete_data.columns

X = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
y = concrete_data['Strength'] # Strength column

<a id="item2"></a>

In [22]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [23]:
y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [18]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
n_cols = X.shape[1] # number of predictors

In [19]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [44]:
# build the model
model = regression_model()

In [45]:
# fit the model
model.fit(X_train, y_train, validation_data=(X_test, y_test),epochs=50, verbose=0)
scores = model.evaluate(X_test, y_test, verbose=0)

In [46]:
MSE_lists_A=np.array([])
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
    model = regression_model()
    model.fit(X_train, y_train, validation_data=(X_test, y_test),epochs=50, verbose=0)
    scores = model.evaluate(X_test, y_test, verbose=0)
    print('{}th train MSE: {}'.format(i+1,scores) ) 
    MSE_lists_A=np.append(MSE_lists_A,scores)

1th train MSE: 199.43635889936033
2th train MSE: 95.18902234815086
3th train MSE: 254.6222731704465
4th train MSE: 267.33340147938156
5th train MSE: 176.7333447601417
6th train MSE: 124.01685834471076
7th train MSE: 163.17906371675264
8th train MSE: 323.75903349941217
9th train MSE: 205.75112559494463
10th train MSE: 125.68759068856347
11th train MSE: 139.78110817720975
12th train MSE: 596.9228747716613
13th train MSE: 2494.212556018027
14th train MSE: 694.9437716092107
15th train MSE: 127.32060896000044
16th train MSE: 198.17192447995677
17th train MSE: 109.4768839221942
18th train MSE: 187.13502191339882
19th train MSE: 184.98856593258557
20th train MSE: 199.55689069136832
21th train MSE: 602.5162188582436
22th train MSE: 112.81518653449889
23th train MSE: 207.8833316938777
24th train MSE: 128.94870997555432
25th train MSE: 284.7033329935907
26th train MSE: 331.63632458930647
27th train MSE: 133.27528208513476
28th train MSE: 114.1768062060705
29th train MSE: 200.3000006814605
30th train MSE: 1647.6631894404834
31th train MSE: 169.58164370638653
32th train MSE: 205.09756963538507
33th train MSE: 489.6894887782223
34th train MSE: 586.9560602181938
35th train MSE: 850.0005945495803
36th train MSE: 881.2462057465489
37th train MSE: 350.0363953229293
38th train MSE: 214.0736717051287
39th train MSE: 904.5404908016661
40th train MSE: 107.81619445405731
41th train MSE: 174.2874570679896
42th train MSE: 500.4673213032843
43th train MSE: 514.252586982011
44th train MSE: 135.1103382295775
45th train MSE: 332.22182713974644
46th train MSE: 143.56034772064308
47th train MSE: 183.27448048020645
48th train MSE: 102.68120132989482
49th train MSE: 249.58482948476058
50th train MSE: 816.8309823934314

In [47]:
np.std(MSE_lists_A)

420.3211729172878

## B. Normalize the data

In [20]:
X_norm = (X - X.mean()) / X.std()
X_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state=42)
n_cols = X_norm.shape[1] # number of predictors

<a id='item32'></a>

In [31]:
# build the model
model = regression_model()

In [33]:
# fit the model
model.fit(X_train, y_train, validation_data=(X_test, y_test),epochs=50, verbose=0)
scores = model.evaluate(X_test, y_test, verbose=0)

In [35]:
print('MSE: {}'.format(scores) )

MSE: 163.80793120251505

In [39]:
MSE_lists=np.array([])
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state=42)
    model = regression_model()
    model.fit(X_train, y_train, validation_data=(X_test, y_test),epochs=50, verbose=0)
    scores = model.evaluate(X_test, y_test, verbose=0)
    print('{}th train MSE: {}'.format(i+1,scores) ) 
    MSE_lists=np.append(MSE_lists,scores)

1th train MSE: 290.3849354963087
2th train MSE: 330.743640393501
3th train MSE: 406.0725980592006
4th train MSE: 301.3554345782135
5th train MSE: 336.7998785617668
6th train MSE: 290.7645812790756
7th train MSE: 324.2514533379317
8th train MSE: 331.0442922647717
9th train MSE: 327.95391203747596
10th train MSE: 399.3780997563334
11th train MSE: 267.2787373860677
12th train MSE: 355.7511765563372
13th train MSE: 532.621137699263
14th train MSE: 326.57847847058935
15th train MSE: 362.67980482971785
16th train MSE: 400.2546471654404
17th train MSE: 405.8222812294574
18th train MSE: 323.4555532708523
19th train MSE: 257.68956240558316
20th train MSE: 298.48954116179334
21th train MSE: 475.67621353297557
22th train MSE: 273.3231159691672
23th train MSE: 283.0470648213112
24th train MSE: 420.5929675055939
25th train MSE: 334.0116959358882
26th train MSE: 284.6810525443562
27th train MSE: 325.61144970150053
28th train MSE: 254.32178568917186
29th train MSE: 274.4709916099375
30th train MSE: 500.0130532273968
31th train MSE: 316.0561154066166
32th train MSE: 324.8424879154341
33th train MSE: 348.28871851059995
34th train MSE: 363.7953251218333
35th train MSE: 257.5948115969167
36th train MSE: 246.39353562635898
37th train MSE: 436.4164066252971
38th train MSE: 478.6426826156073
39th train MSE: 334.74151443432066
40th train MSE: 332.0731518199143
41th train MSE: 323.89404059845265
42th train MSE: 255.30365133439838
43th train MSE: 342.96196749295234
44th train MSE: 327.5793517276307
45th train MSE: 421.3367052788102
46th train MSE: 313.7719517186236
47th train MSE: 428.26873868183026
48th train MSE: 403.4387363075824
49th train MSE: 410.97196392565485
50th train MSE: 307.992110267812

In [40]:
np.std(MSE_lists)

67.07713255604685

<pr><font color="Blue"> Normalized version shows MSE is stable </font></pr>

## C.Increate the number of epochs

In [28]:
MSE_lists_C=np.array([])
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state=42)
    model = regression_model()
    model.fit(X_train, y_train, validation_data=(X_test, y_test),epochs=100, verbose=0)
    scores = model.evaluate(X_test, y_test, verbose=0)
    print('{}th train MSE: {}'.format(i+1,scores) ) 
    MSE_lists_C=np.append(MSE_lists_C,scores)

1th train MSE: 148.91874625690548
2th train MSE: 154.95250477219864
3th train MSE: 146.36088833608287
4th train MSE: 146.50534837840058
5th train MSE: 146.41992306014868
6th train MSE: 173.59586702118415
7th train MSE: 166.1204904105671
8th train MSE: 146.00657135306054
9th train MSE: 141.52777484782692
10th train MSE: 150.27514534860754
11th train MSE: 161.88843331444997
12th train MSE: 146.39760290843384
13th train MSE: 156.47991869287583
14th train MSE: 154.2199477902508
15th train MSE: 152.0988471762648
16th train MSE: 166.0210084390486
17th train MSE: 152.41866354340488
18th train MSE: 153.89231862682354
19th train MSE: 162.1095393899961
20th train MSE: 164.60481775771453
21th train MSE: 153.83315758566255
22th train MSE: 149.48318308611132
23th train MSE: 154.36978134599704
24th train MSE: 142.45315057945868
25th train MSE: 144.6981516223895
26th train MSE: 151.65583332148185
27th train MSE: 151.71783091721025
28th train MSE: 150.43766883430357
29th train MSE: 164.4065898413797
30th train MSE: 154.22886213284093
31th train MSE: 153.6268442394664
32th train MSE: 153.68891689461026
33th train MSE: 142.5239064238218
34th train MSE: 150.68268600019437
35th train MSE: 181.77667078308303
36th train MSE: 165.67883611882775
37th train MSE: 156.52654431784424
38th train MSE: 160.10888178063055
39th train MSE: 155.97137189451544
40th train MSE: 158.24972134192012
41th train MSE: 159.94498692978547
42th train MSE: 148.19387728496662
43th train MSE: 197.8861716063663
44th train MSE: 149.45858428856315
45th train MSE: 144.32792377163292
46th train MSE: 154.54746895700598
47th train MSE: 159.33247340921446
48th train MSE: 158.02669083184796
49th train MSE: 136.1864005277072
50th train MSE: 160.68089017898905

In [29]:
np.std(MSE_lists_C)

10.354899650156561

<pr><font color="Blue"> Normalized and increased number of training version shows MSE is more stable </font></pr>

## D.Increase the number of hidden layers

In [22]:
def regression_model_D():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [23]:
MSE_lists_D=np.array([])
for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size=0.3, random_state=42)
    model = regression_model_D()
    model.fit(X_train, y_train, validation_data=(X_test, y_test),epochs=50, verbose=0)
    scores = model.evaluate(X_test, y_test, verbose=0)
    print('{}th train MSE: {}'.format(i+1,scores) ) 
    MSE_lists_D=np.append(MSE_lists_D,scores)

1th train MSE: 133.28296466321234
2th train MSE: 136.65947548085433
3th train MSE: 117.73812567454712
4th train MSE: 125.8974900230235
5th train MSE: 134.17955639292893
6th train MSE: 92.4920822192936
7th train MSE: 136.4031288863
8th train MSE: 132.2305784256327
9th train MSE: 132.85047043488635
10th train MSE: 100.97516582698884
11th train MSE: 129.57466639052703
12th train MSE: 138.09382708404442
13th train MSE: 103.21482910847587
14th train MSE: 128.11068399670054
15th train MSE: 127.90647693127876
16th train MSE: 94.2543804823002
17th train MSE: 96.95792114850387
18th train MSE: 132.31432989422945
19th train MSE: 137.20438886228888
20th train MSE: 127.29867647535207
21th train MSE: 133.3614167148627
22th train MSE: 139.92877078750757
23th train MSE: 129.0935304512098
24th train MSE: 133.4649182168411
25th train MSE: 117.9511024944219
26th train MSE: 133.7648170248976
27th train MSE: 109.70212863564106
28th train MSE: 143.00759793871043
29th train MSE: 114.75020596896175
30th train MSE: 127.81422550238452
31th train MSE: 128.5148794427273
32th train MSE: 106.8429438520018
33th train MSE: 105.93809519153582
34th train MSE: 133.48466802800743
35th train MSE: 127.38846886890991
36th train MSE: 136.44157162761996
37th train MSE: 131.30722085403394
38th train MSE: 108.3476554352103
39th train MSE: 125.11232167463086
40th train MSE: 87.85563590534296
41th train MSE: 126.59891979131112
42th train MSE: 124.87366243627851
43th train MSE: 128.36745043016947
44th train MSE: 133.9362329773147
45th train MSE: 115.71988566870829
46th train MSE: 136.9113645584452
47th train MSE: 131.07168626013697
48th train MSE: 99.49673447099704
49th train MSE: 124.38187815842119
50th train MSE: 134.1674943942468

In [24]:
np.std(MSE_lists_D)

13.891862819117684

<pr><font color="Blue"> Normalized and increased number of hidden layer version shows MSE is stable and smaller </font></pr>